* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #fefdfd;
    color: #333;
  }
  
  h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
  }